/*Estilos generales*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive, monospace;
}

h2 {
  font-size: 2rem;
  font-family: 'Lobster', cursive, monospace;
}

.seccion-oscura {
  background-color: #1b1b32;
  color: white;
}

.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Lobster', cursive, monospace;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.3rem;
  font-family: 'Lobster', cursive, monospace;
}

.btn-info {
  font-size: 1.2rem;
  margin: 20px;
}

/*Fin Estilos generales*/

/*Barra navegacion*/
.navbar {
  padding: 2rem;
  background-color: #323b44;
}

/*movemos elementos al lado derecho*/
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/*Fin Barra navegacion*/

/*Seccion Hero*/
.hp {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hp-principal {
  padding: 3rem;
}

.hp-imagen {
  width: 200px;
  height: 200px;
  margin: 20px;
  /*border-radius: 50%;  --> rounded-circle*/
}

.hp-principal h2 {
  font-size: 1.5rem;
  color: #615151;
}

/*Fin Seccion Hero*/

/*Acerda de (About)*/
.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/*Fin Acerda de (About)*/

/*Referencias testimonios*/
.libros {
  padding: 40px 40px 80px 40px;
}

.libros .carousel{
  max-width: 800px;
}

.carousel-item{
  height: 500px;
}

.carousel-item .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.libros-imagen {
  height: 120px;
  width: 100px;
  margin: 10px 10px 20px 10px;
}

.libros-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.libros-info {
  font-weight: bold;
  text-align: center;
}

.libros-info p {
  margin-bottom: 0px;
}

.libros-info .cliente {
  font-size: 1.2rem;
}

.libros-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/*Fin Referencias testimonios*/

.accordion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.personajes{
  padding: 1.5rem;
  margin-right: 0px;
  margin-left: 0px;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

/*Footer*/
.footer{
  min-height: 500px;
}

.footer-logo{
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto{
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a{
  width: 50px;
  height: 50px;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
}


.iconos-redes-sociales i{
  color: white;
  font-size: 1.6rem;
  transition: all 0.5s ease-in;
}

.iconos-redes-sociales a:hover{
  background-color: white;
  border: 2px solid rgb(13,110,253);
}

.iconos-redes-sociales a:hover i{
  color: black;
}

.derechos-autor{
  font-size: 20px;
  color: #aeaeae;
  padding: 20px;
}
/*Fin Footer*/